#root {
  
  margin: 0 auto;
  background-color: black;
  text-align: center;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}



.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
