#root {
  
  margin: 0 auto;
  background-color: black;
  text-align: center;
  padding: 0rem;
  box-sizing: border-box;
  align-items: center;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-items: center;
  background-color:black;
}

.navbar {
  width: 100%;
}

.container {
  margin: 0 auto;
  background-color: black;
  text-align: center;
  padding: 0;
  box-sizing: border-box;
  margin: 0 auto;
  align-items: center;
}



.card {
  padding: 2em;
  align-items: center;
}

.read-the-docs {
  color: #888;
}
